EDA IPL DATA SET

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt#Import all libraries

In [3]:
df_matches= pd.read_csv(r'C:\Users\ARSHAN\Downloads\ipl\matches.csv')#Task 1:Read CSV file
df_deliveries=pd.read_csv(r'C:\Users\ARSHAN\Downloads\ipl\deliveries.csv')

In [32]:
df_matches.describe()#Task 2:Get top level summary
df_matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [24]:
#Task 3: check id umpore3 is useful. if not drop it and save the dataframe to a file
df_matches['umpire3'].nunique()## step 1 : check using nunique() method
df2=df_matches.drop(['umpire3'],axis=1)##since no unique values drop the table , axis=1 means itll drop the column not the row 
df2.head()#just to confirm that we have dropped it 
df2.to_csv(r'C:\Users\ARSHAN\Downloads\ipl\matches2.csv',index=False)#take this dataframe and dumps into the location folder 
#we are creating a dataframe when we do this

In [30]:
#Task 4: Print total number of matches played, Number of seasons
print('total number of matches: ',df_matches.shape[0])
print('total number of seasons: ',df_matches['season'].nunique())

total number of matches:  636
total number of seasons:  10

In [69]:
#Task 5: Players who have won the most 'Player of the match'
##and team whcih has most wins
print('most player of the match award\n',df_matches['player_of_match'].value_counts().idxmax())#value_counts gives us the occurance of a value in a colimn
print('most team winds\n',df_matches['winner'].value_counts().idxmax())

most player of the match award
 CH Gayle
most team winds
 Mumbai Indians

In [89]:
#Task 6: Find teams who have won match by a huge margin
#assume win by runs greater than 100 and win by wickets greater than 8 is the criteria
big_margin=df_matches[(df_matches['win_by_runs']>=100) | (df_matches['win_by_wickets']>=8)]
big_margin['winner'].value_counts()

'Royal Challengers Bangalore'

In [106]:
#Task 7: find count of matches played in each city
df_matches['city'].value_counts()

Mumbai            85
Bangalore         66
Kolkata           61
Delhi             60
Hyderabad         49
Chennai           48
Chandigarh        46
Jaipur            33
Pune              32
Durban            15
Ahmedabad         12
Centurion         12
Visakhapatnam     11
Rajkot            10
Dharamsala         9
Johannesburg       8
Cape Town          7
Ranchi             7
Cuttack            7
Abu Dhabi          7
Port Elizabeth     7
Raipur             6
Sharjah            6
Kochi              5
Indore             5
Kanpur             4
Nagpur             3
East London        3
Kimberley          3
Bloemfontein       2
Name: city, dtype: int64

In [4]:
#Task 8: find the min and max win_by_wickets at each city
#winbywicketscity=df_matches[(df_matches['city']) | (df_matches['win_by_wickets'].idxmax())]
df_matches.groupby('city').win_by_wickets.agg(['min','max'])

                min  max
city
Abu Dhabi         0    6
Ahmedabad         0    9
Bangalore         0   10
Bloemfontein      0    6
Cape Town         0   10
Centurion         0    8
Chandigarh        0   10
Chennai           0    9
Cuttack           0    9
Delhi             0   10
Dharamsala        0    6
Durban            0    9
East London       0    7
Hyderabad         0    9
Indore            6    8
Jaipur            0   10
Johannesburg      0    9
Kanpur            2    8
Kimberley         0    7
Kochi             0    7
Kolkata           0    9
Mumbai            0   10
Nagpur            0    6
Port Elizabeth    0    7
Pune              0    9
Raipur            0    7
Rajkot            0   10
Ranchi            0    6
Sharjah           0    8
Visakhapatnam     0    7

In [10]:
#Task 9: find the match with the biggest defeat by run
df_matches.groupby('winner').win_by_runs.agg(['max']).idxmax()

max    Mumbai Indians
dtype: object

In [18]:
#Task 10: find the match with the biggest defeat by wickets
df_matches.groupby('winner').win_by_wickets.agg(['max'])

                             max
winner
Chennai Super Kings           10
Deccan Chargers               10
Delhi Daredevils              10
Gujarat Lions                  7
Kings XI Punjab               10
Kochi Tuskers Kerala           8
Kolkata Knight Riders         10
Mumbai Indians                10
Pune Warriors                  7
Rajasthan Royals              10
Rising Pune Supergiant         9
Rising Pune Supergiants        9
Royal Challengers Bangalore   10
Sunrisers Hyderabad           10